.project
.settings
*.o
*.lo
*.gmo
*.in
*.la
*.in~
.deps
.libs/
Makefile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
configure
*.pc
ABOUT-NLS
INSTALL
Makecache
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.rpath
config.status
config.sub
depcomp
docs/scim.cfg
extras/immodules/aclocal.m4
extras/immodules/agent/scim-im-agent
extras/immodules/autom4te.cache/
extras/immodules/config.log
extras/immodules/config.status
extras/immodules/libltdl/
extras/panel/scim-panel-gtk
extras/setup/scim-setup
extras/setup/scim-setup.desktop
install-sh
libltdl/
libtool
ltmain.sh
m4/
missing
mkinstalldirs
mkinstalldirs~
po/.intltool-merge-cache
po/POTFILES
po/Rules-quot
po/stamp-it
scim.spec
src/scim
src/scim-config-agent
src/scim-helper-launcher
src/scim-helper-manager
src/scim-launcher
src/scim_types.h
stamp-h1
.ccls-cache
moc_*.cpp
xxx/
configure-dev
